@model Core.ViewModels.Teacher.Materials.CreateMaterialVm

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Title" class="form-label">Име на материал</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Описание</label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ProfessionId" class="form-label">Професия</label>
        <select asp-for="ProfessionId" class="form-select" asp-items="ViewBag.Professions">
        </select>
        <span asp-validation-for="ProfessionId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MaterialCategoryId" class="form-label">Категория</label>
        <select asp-for="MaterialCategoryId" class="form-select" asp-items="ViewBag.Categories"></select>
        <span asp-validation-for="MaterialCategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="File" class="form-label">Прикачи файл</label>
        <input asp-for="File" type="file" class="form-control"
               accept=".pdf,.doc,.docx,.ppt,.pptx,.zip,.rar,.txt" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Url" class="form-label">Или линк (URL)</label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Запази</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}