@model Core.ViewModels.Teacher.Materials.EditMaterialVm

<h2>Редактирай материал</h2>
<hr />

<form method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Url" class="form-label"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Запази</button>
    <a class="btn btn-outline-secondary"
       asp-area="Teacher" asp-controller="Materials" asp-action="My">Назад</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}