@if (TempData["Info"] is string info)
{
    <div class="alert alert-info">@info</div>
}

@if (ViewBag.PendingApproval == true)
{
    <div class="alert alert-info">
        Заявката ти за учител е изпратена. Изчакай одобрение от администратор.
    </div>
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
