<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Проект</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav>
            <div class="nav-bar">
                <span class="logo">
                    <a asp-controller="Home" asp-action="Index">Проект</a>
                </span>

                <div class="menu">
                    <ul class="nav-links">
                        <li>
                            <a asp-controller="Home"
                               asp-action="Index"
                               class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                                Начало
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#">За платформата</a>
                            <ul class="dropdown-content">
                                <li><p>Кратко описание...</p></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#">Вид професия</a>
                            <ul class="dropdown-content">
                                <li>
                                    <a asp-controller="Professions" asp-action="Details" asp-route-id="1">
                                        Приложен програмист
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Professions" asp-action="Details" asp-route-id="2">
                                        Танцьор
                                    </a>
                                </li>
                                <li><hr /></li>
                                <li>
                                    <a asp-controller="Professions" asp-action="Index">
                                        Вижте повече...
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="Contact">Контакти</a>
                        </li>

                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a asp-area="Admin"
                                       asp-controller="Dashboard"
                                       asp-action="Index">
                                        Администрация
                                    </a>
                                </li>
                            }

                            if (User.IsInRole("Teacher"))
                            {
                                <li>
                                    <a asp-area="Teacher"
                                       asp-controller="Dashboard"
                                       asp-action="Index">
                                        Моето табло
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>

                <div class="right-content">
                    <div class="searchBox">
                        <div class="search-toggle">
                            <svg class="search-icon" viewBox="0 0 24 24" width="22" fill="none" stroke="currentColor" stroke-width="2"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                            <svg class="cancel-icon" viewBox="0 0 24 24" width="22" fill="none" stroke="currentColor" stroke-width="2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </div>
                        <div class="search-field">
                            <form asp-controller="Search" asp-action="Index" method="get">
                                <input type="text" name="query" placeholder="Търси..." />
                            </form>
                        </div>
                    </div>

                    <div class="profile-wrapper">
                        <div class="profile-icon" id="profileToggle">
                            <svg viewBox="0 0 24 24" width="24" fill="currentColor"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg>

                        </div>

                        <div class="profile-dropdown" id="profileMenu">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="footer-top">
            <h1 class="logo">
                <a asp-controller="Home" asp-action="Index">Проект</a>
            </h1>
        </div>

        <div class="layoutfooter">
            <div class="footer-column">
                <h4>Навигация</h4>
                <p><a asp-controller="Home" asp-action="Index">Начало</a></p>
                <p><a asp-controller="Professions" asp-action="Index">Професии</a></p>
                <p><a asp-controller="Schools" asp-action="Index">Професионални гимназии</a></p>
            </div>

            <div class="footer-column">
                <h4>Контакти</h4>
                <p>Имейл: pmg-dobrich@abv.bg</p>
                <p>гр. Добрич</p>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>