@* @using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Излез</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Влез</a>
    </li>
}
</ul> *@

@using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div class="profile-wrapper">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="profile-info">
            <div class="profile-avatar">
                @User.Identity?.Name?.Substring(0, 1).ToUpper()
            </div>

            <div>
                <div class="profile-greeting">Здравей,</div>
                <div class="profile-email">@User.Identity?.Name</div>
            </div>
        </div>

        <hr />

        <form asp-area="Identity"
              asp-page="/Account/Logout"
              method="post">
            <button type="submit" class="profile-logout">
                Излез
            </button>
        </form>
    }
    else
    {
        <a asp-area="Identity"
           asp-page="/Account/Login"
           class="profile-login-btn">
            Влез
        </a>
    }

</div>